@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;600;700;800&display=swap');

/* ------------- ROOT VARIABLES ------------- */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7781; 
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff; 
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem; 
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528; 
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);


}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Nunito, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    overflow-y: hidden;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}






nav{
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 2rem;
}

nav .logo{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-family: Poppins;
}

nav .logo img{
    width: 2.5rem;
    height: 2.5rem;
    transition: all 300ms ease;
}

nav .logo img:hover{
    transform: scale(2);
}

nav .logo h2{
    margin: 0 auto;
}

nav .pp{
    display: flex;
    justify-content: center;
}

aside .close{
    display: none;
}

aside .close i{
    font-size: 1.6rem;
    color: var(--color-primary);
}

nav .menu{
    display: none;
}

nav .menu i{
    font-size: 1.6rem;
    color: var(--color-primary);
}

nav button {
    display: none;
}


.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-light);
    transition: all 300ms ease-in-out;
}

.profile-photo:hover{
    transform: scale(1.5);
    cursor: pointer;
    
}

.top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.top button{
    display: none;
}

.theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 2rem;
}

.theme-toggler i{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.theme-toggler i.active{
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    transition: all 300ms ease;
}

.pp .profile{
    display: flex;
    justify-content: center;
}

.pp .profile .info{
    margin-right: 2rem;
    text-align: right;
}


#home{
    display: flex;
}

aside{
    margin-left: 2rem;
    height: 100vh;
    font-family: Poppins;
    width: 14rem;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a i{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active i{
    color: var(--color-primary);
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover i{
    margin-left: 1rem;
}




#dashboard {
    display: flex;
}

.l{
    margin-top: -4rem;
    margin-left: 2rem;
    width: 58rem;
}

.l .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

.l .date p{
    background: transparent;
    color: var(--color-dark);
    font-weight: 600;
}

.l .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.l .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.l .insights > div:hover{
    box-shadow: none;
}

.l .insights > div i{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

.l .insights > div.expenses i{
    background: var(--color-danger);
}

.l .insights > div.income i{
    background: var(--color-success);
}

.l .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

.l .insights small{
    margin-top: 1.3rem;
    display: block;
}

.l .stats {
    margin-top: 2.75rem;
}

.l .stats h2{
    margin-bottom: 0.8rem;
}

.l .stats .graph{
    background: var(--color-white);
    width: 100%;
    height: 44vh;
}

.r {
    margin-top: -2rem;
    margin-left: 2rem;
    padding-right: 2rem;
    width: 30%;
}

.r .recent-transactions{
    width: 100%;
    margin-top: 1em;
}

.r .recent-transactions h2{
    margin-bottom: 0.8rem;
}

.r .recent-transactions .item{

    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.r .recent-transactions .item:hover{
    box-shadow: none;
}

.r .recent-transactions .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.r .recent-transactions .item .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.r .ri{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    width: 1.25rem;
    height: 1.25rem;
}

.r .piechart {
    margin-top: 2rem;
}

.r .piechart h2{
    margin-bottom: 0.8rem;
}

.r .piechart .pie{
    width: 100%;
}

.r .piechart .pie #p-bank, #p-cash, #p-card{
    color: var(--color-primary);
}



/* ************************************************************************************************** */

@media screen and (max-width:1200px) {

    nav{
        padding-right: 0;
        width: 100%;
    }

    nav .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
}


@media screen and (max-width: 768px) {
    
    body{
        overflow-y: scroll;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 19rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
        margin-top: -13.5rem;
        margin-left: 0rem;
        padding-left: 1rem;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    nav{
        width: 100%;
    }
    nav .logo{
        margin-left: 1rem;
    }

    nav .logo h2{
        display: inline;
    }

    aside .sidebar{
        padding-top: 2rem;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
        text-align: right;
        margin-left: 92%;
        margin-top: 2rem;
    }

    nav .menu{
        display: inline-block;
        cursor: pointer;
        margin-right: 2rem;
    }

    main{
        margin-top: 4rem;
        padding: 0 1rem;
    }

    #dashboard{
        display: block;
    }

    #dashboard .l .insights{
        display: block;        
    }
    
    #dashboard .l .stats{
        margin-top: 2rem;
        position: relative;
    }

    #dashboard .r .piechart{
        margin-top: 2rem;
    }

    #dashboard .r .recent-transactions{
        margin-top: 2rem;
        width: 100%;
    }

    #dashboard .r h2{
        margin-top: 4rem;
    }    

    .r .recent-transactions .item{
        width: 100%;
    }
}